<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="ROLLING">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>%d{yy-MM-dd HH:mm:ss} %-2level %msg%n</Pattern>
      <charset>UTF-8</charset>
    </encoder>
    <file>logs/app.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>logs/app-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <maxFileSize>10MB</maxFileSize>
      <maxHistory>60</maxHistory>
      <totalSizeCap>500MB</totalSizeCap>
    </rollingPolicy>
  </appender>

  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} - %-5level %logger{35} - %msg %n</pattern>
    </encoder>
  </appender>

  <logger level="WARN" name="com"/>

  <logger level="WARN" name="org"/>
  <logger level="WARN" name="net"/>
  <logger level="WARN" name="org.springframework"/>

  <logger additivity="false" level="INFO" name="com.rmr.dinosaurs">
    <appender-ref ref="ROLLING"/>
    <appender-ref ref="STDOUT"/>
  </logger>

  <root level="INFO">
    <appender-ref ref="ROLLING"/>
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
